In [14]:
import pandas as pd

In [15]:
df1 = pd.read_excel('input/Dataset.xlsx', sheet_name='post_details')
len(df1)

1571

In [16]:
df1.drop_duplicates(subset=['POST_ID'], keep='first', inplace=True)

In [17]:
len(df1)

1569

In [33]:
df2 = pd.read_csv('output/prompt_classification_output.csv')

In [34]:
df2.head()

,POST_ID,POST_TEXT,SHARED_POST_TEXT,DATE_PUBLISHED,IS_ATTENDING,dmexco_found,reason
0,7233969530023096321,Will you be attending DMEXCO this year? Join S...,NaN,2024-08-26T22:52:16.568Z,yes,yes,The post date is within 12 months before the e...
1,7116725767505330176,Dans les coulisses des Ã©missions de THE SOCIET...,NaN,2023-10-08T10:07:25.322Z,no,no,"The post date is October 8, 2023, which is mor..."
2,6882671739764031488,Donâ€™t be afraid. This was traditionally my las...,NaN,2021-12-31T13:20:16.601Z,no,no,"The post date is December 31, 2021, which is m..."
3,7242942933220442112,#wwc,NaN,2024-09-20T17:09:22.620Z,no,yes,The post date is within 12 months after the ev...
4,7243861658689843200,"ðŸ’¥ 50.000 people, two major events, one city. ðŸ’¥...",NaN,2024-09-23T06:00:03.850Z,yes,yes,The post mentions attending DMEXCO and Digital...

In [19]:
len(df2)

1569

In [21]:
df1.head()

,POST_ID,POST_TEXT,SHARED_POST_TEXT,DATE_PUBLISHED,IS_ATTENDING
0,7233969530023096321,Will you be attending DMEXCO this year? Join S...,NaN,2024-08-26T22:52:16.568Z,yes
1,7116725767505330176,Dans les coulisses des Ã©missions de THE SOCIET...,NaN,2023-10-08T10:07:25.322Z,no
2,6882671739764031488,Donâ€™t be afraid. This was traditionally my las...,NaN,2021-12-31T13:20:16.601Z,no
3,7242942933220442112,#wwc,NaN,2024-09-20T17:09:22.620Z,no
4,7243861658689843200,"ðŸ’¥ 50.000 people, two major events, one city. ðŸ’¥...",NaN,2024-09-23T06:00:03.850Z,yes

In [23]:
new_df = pd.merge(df1, df2, on='POST_ID', how='inner')

In [27]:
new_df.drop(columns = ['id'], inplace=True)

In [29]:
new_df.rename(columns={'dmexco_related': 'dmexco_found'}, inplace=True)

In [32]:
new_df.to_csv('output/prompt_classification_output.csv', index=False)

In [24]:
from sklearn.metrics import accuracy_score, classification_report

In [25]:
true_values = new_df['IS_ATTENDING']
predicted_values = new_df['dmexco_related']
accuracy = accuracy_score(true_values, predicted_values)
print(f'Accuracy: {accuracy}')


# Print classification report
class_report = classification_report(true_values, predicted_values)
print('Classification Report:')
print(class_report)

Accuracy: 0.9655831739961759
Classification Report:
              precision    recall  f1-score   support

          no       0.99      0.96      0.97      1070
         yes       0.93      0.97      0.95       499

    accuracy                           0.97      1569
   macro avg       0.96      0.97      0.96      1569
weighted avg       0.97      0.97      0.97      1569